<footer th:fragment="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-info">
                <h3>Pitso Nkotolane Gintos</h3>
                <p>Java & Spring Developer crafting innovative digital solutions</p>
            </div>
            <div class="footer-social">
                <h3>Connect with me</h3>
                <div class="social-icons">
                    <a href="https://www.tiktok.com/@nkotolane_pitso" target="_blank" class="social-icon">
                        <i class="fab fa-tiktok"></i>
                    </a>
                    <a href="https://www.facebook.com" target="_blank" class="social-icon">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://wa.me/+27790504859" target="_blank" class="social-icon">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                    <a href="https://www.instagram.com" target="_blank" class="social-icon">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://twitter.com" target="_blank" class="social-icon">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="https://www.linkedin.com" target="_blank" class="social-icon">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2025 Pitso Nkotolane Gintos. All Rights Reserved.</p>
        </div>
    </div>
</footer>

<script th:src="@{/js/script.js}"></script>
